form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > * {
    width: 60%;
}

.form-container > *{
    width: 200%;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: auto;
}
