<div class="form-container">
    <p>Hello Professor</p>
    <form (submit)="onNext($event)">
        <!-- <mat-form-field>
            <mat-select class="select" placeholder="Predmet">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field> -->
        <mat-form-field>
            <mat-select (selectionChange)= "selectedValue($event)" class="select" placeholder="Odeljenje">
                <mat-option *ngFor="let odeljenje of odeljenja$ | async" [value]="odeljenje.id">
                    {{ odeljenje.naziv }}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <input class="naslov"  matInput name="title" placeholder="Naslov lekcije"> 
            <!-- (input)="onTypeChange($event.target.value)" -->
        </mat-form-field>
        
        <mat-form-field>
            <textarea class="textarea" name="content" matInput placeholder="Komentar"></textarea>
        </mat-form-field>

        <button class="btn btn-primary" mat-button type="submit">Dalje</button>
    </form>
</div>