<div class='app'>
        <app-sidebar></app-sidebar>
        <div *ngIf="currentPage==='main'" class="jumbotron">
                <h1 class="display-4">Online Dnevnik</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tristique quam. Nullam
                        consequat eleifend arcu id hendrerit. Mauris vitae nulla porta, tristique nibh a, tempor ipsum. </p>
                <hr class="my-4">
                <p>Maecenas eu magna sed nibh sagittis euismod. Vestibulum at vulputate nibh. Sed pulvinar pretium ligula
                        ut iaculis. Pellentesque gravida et quam ut vestibulum. Nulla semper eros eu aliquet tristique. </p>
        </div>
        <app-home *ngIf="currentPage==='home'"></app-home>
        <app-student-list *ngIf="currentPage==='table'"></app-student-list>

        <app-login *ngIf="currentPage === 'login'"></app-login>
</div>