.form-container > * {
    margin-left:50px;
    width: 100%;
    margin-left:200px;
    margin-right: auto;
    margin-top: 20px;
}
.title {
    pointer-events:none;
    background-color: none;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > * {
    width: 100%;
}

/* .ip{
    background-color: aliceblue;
    height: 30px;
    min-width: 200px;
    padding:5px;
    border: 1px solid rgb(255, 92, 92);
    border-radius: 0 30px 0 30px;
    padding-left: 30px;
    
} */

.title {
    pointer-events:none;
    text-align: center;
    min-width: 200px;
    margin-left:20px;
}

button {
    border-radius: 20%;
    margin-left:10px;
    margin-top: 10px;
    max-width:100px;
}