<div class="form-container p-3">
  <div class="alert alert-light">
    <h4 class="text-right">Login</h4>
  </div>
  <form (submit)="handleLogin($event)">
    <p>Username:</p>
    <mat-form-field>
      <input class="ip" matInput type="text" name="username" onfocus="this.value = ''" value="">
    </mat-form-field>
    <p>Password:</p>
    <mat-form-field>
      <input class="ip" type="password" matInput name="password" onfocus="this.value = ''" value="">
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button class="classes-btn" type="submit">LOGIN</button>
      <button mat-button class="classes-btn" type="button" (click)="goBack()">GO BACK</button>
    </div>
  </form>
</div>