<mat-drawer-container class="container p-0" autosize>
  <mat-drawer #drawer class="sidebar" mode="side">    
    <button *ngIf="!user" (click)="loadLoginPage()" class="login-btn d-block" mat-button>Login</button>
    <button *ngIf="user" (click)="logout()" class="login-btn d-block" mat-button>Logout</button>
    <button *ngIf="user" (click)="loadHomePage()" class="login-btn d-block" mat-button>Class</button>
  </mat-drawer>

  <div class="sidebar-content">
    <button  type="button" class="h-100 bg-dark" mat-button (click)="drawer.toggle()"><mat-icon class="text-light">chevron_left</mat-icon></button>
  </div>
</mat-drawer-container>