.sidebar-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: baseline;
  flex-direction: row;
}

.sidebar {
  padding: 20px;
  background-color: #777;
  font-size: 22px;
  color: black;
  flex-direction: column;
  justify-content: top;
  font-weight: bold;
}


.login-btn {  
  background-color: beige;
  font-size: 16px;
  margin-bottom: 10px;
}