<div class="container p-3">
  <div class="studentList mb-2 alert alert-info">
    <h5>Odeljenje: {{currClass.naziv}}</h5>
    <h6>Naslov lekcije: {{lesson}}</h6>
    <h6>Predmet: {{subjects[user.predmet]}}</h6>
  </div>
  <mat-divider></mat-divider>
  <h4 class="p-1">Ucenici</h4>
  <div class="mainField p-2">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let ucenik of ucenici$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ime i prezime: {{ ucenik.imePrezime }}
          </mat-panel-title>
          <mat-icon>account_circle</mat-icon>
        </mat-expansion-panel-header>
        <mat-list class="list-group">
          <mat-list-item class="list-group-item h-25 p-1" *ngFor="let key of rubrikaKeys(ucenik.rubrika)">
            <label class="p-2 m-0"><strong> {{ subjects[key] }} </strong>
              <span class="m-1 p-1 badge badge-secondary" *ngFor="let ocena of ucenik.rubrika[key]"> {{ ocena }}</span></label>
          </mat-list-item>
        </mat-list>
        <form (submit)="dodajOcenu($event)">
          <mat-form-field>
            <label style="display:none">{{ucenik.id}}</label>
            <input class="ocena" matInput name="ocena" placeholder="Ocena..">
          </mat-form-field>
          <button mat-raised-button class="classes-btn" type="submit">Dodaj ocenu</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>