/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    min-height: 100%;
    margin: 0;
}
body { margin: 0; }
